<%- include('partials/header') %>

<main>
    <section id="gallery-card">

        <p><%= gallery %></p>
        <div class="card">
            <a href="">
                <figure>
                    <img src="" alt="" id="">
                    <figcaption>TITLE, by: <em>CREDIT</em></figcaption>
                </figure>
            </a>
        </div>


    </section>
</main>

<%- include('partials/footer') %>